@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kantumruy Pro', sans-serif;
}
.container{
    text-align: center;
}
.topbar{
    position: absolute;
    display: block;
    width: 100vw;
    background-color: white;
}
.midcontainer{
    height: 100vh;
    background-color: #00A86D;
    display: flex;
    padding: 20px;
    justify-content: center;
    padding-top: 140px;
}
.innercontainer{
    position: absolute;
    text-align: center;
    background-color: white;
    width: 900px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: -23px 22px 25px -3px rgba(0,0,0,.2);
}
.title{
    color: #00A86D;
    font-weight: 800;
    font-size: 2em;
}
.searchTab{
    padding: 20px;
}
.searchTab input{
    padding: 10px;
    font-size: 1.2em;
    border-radius: 10px;
 
    outline: none;
}
#searchbox{
    border: #00A86D 2px solid;
    width: 400px;
    color: #00A86D;
    font-weight: 500;
}
#searchbtn{
    background-color: #00A86D;
    color: white;
    border: none;
    cursor: pointer;

}
#notFound{
    display: none;
    font-size: 1.5em;
    background-color: red;
    border-radius: 20px;
    padding: 15px;
    color: white;
    transition: ease-in-out 100ms;
}
#Found{
    display: none;
    font-size: 2em;
    background-color: #00A86D;
    border-radius: 20px;
    padding: 15px;
    color: white;
    transition: ease-in-out 500ms;
}

.topContainer{
    display: flex;
    justify-content: space-around;
}
.middleContainer{
    font-size: 3em;   
}
.bottomContainer{
    display: flex;
    justify-content: space-between;
    /* background-color: #1a6e51; */
    background-color: #fff;
    color: #00A86D;
    padding: 10px;
    border-radius: 10px;
    
}
h6{
    padding: 5px;
}
footer{
    position: absolute;
    color: white;
    bottom: 0;
    background-color: #00A86D;
    width: 100vw;
    padding: 15px;
}




@media screen and (min-width: 500px) {
    .midcontainer {
        background-color: #00A86D;
      }
      footer{
          background-color: #fff;
          color: #00A86D;
      }
      .innercontainer{
        min-width: 500px;
        max-width: 600px;
    }
  }
@media screen and (min-width: 800px) {
    .midcontainer {
      background-color: #00A86D;
    }
    footer{
        background-color: #fff;
        color: #00A86D;
    }
    .innercontainer{
        width: 600px;
    }
  }

  @media (max-width: 500px ) {
    .midcontainer {
        background-color: #00A86D;
      /* background-color: #00A86D; */
      width: 500px;
      font-size: .7em;
    }
    footer{
        background-color: #fff;
        color: #00A86D;
    }
    .innercontainer{
        width: 412px;
    }
    #searchbox{
        width: 250px;
        margin-right: 20px;
    }
  }

  